
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_UserMasterLayout</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/131e0ec2d1.js" crossorigin="anonymous"></script>
</head>
<body>
    <style>
        *
        {
            margin : 0;
            padding : 0;
        }
        .header-container {
            background: #FC5E31;
        }

        img
        {
            width : 120px;
        }

        .nav-item
        {
            margin : 10px 20px;
        }

        .selection 
        {
            margin : 0 10px;
        }
        
    </style>
    
    <div class="header-container">
        <div class="container">
            <header class="d-flex flex-column position-sticky top-0">
                <div class="d-flex justify-content-between header">
                    <div class="header-left d-flex p-3">
                        @Html.ActionLink("Kênh Người Bán", "", "", new { @class = "text-decoration-none m-2 text-light" })
                        @Html.ActionLink("Tải Ứng Dụng", "", "", new { @class = "text-decoration-none m-2 text-light" })
                        <div class="header-left-connect m-2">
                            @Html.ActionLink("Kết Nối", "", "", new { @class = "text-decoration-none text-light" })
                            <a class="text-decoration-none text-light" href="##">  <i class="fa-brands fa-facebook"></i> </a>
                            <a class="text-decoration-none text-light" href="##"> <i class="fa-brands fa-instagram"></i> </a>
                        </div>
                    </div>
                    <div class="icon d-flex p-3">
                        <a href="##" class="text-decoration-none m-2 text-light">
                            <i class="fa-solid fa-bell"></i>
                            Thông Báo
                        </a>


                        <a href="##" class="text-decoration-none text-light m-2">
                            <i class="fa-solid fa-circle-question"></i>
                            Hỗ Trợ
                        </a>


                        <div class="select d-flex text-light m-2">
                            <a href="##" class="text-decoration-none text-light ">
                                <i class="selection fa-solid fa-globe"></i>

                            </a>

                            <select class="form-select-sm">
                                <option value="tiengviet">
                                    Tiếng Việt
                                </option>

                                <option value="tienganh">
                                    Tiếng Anh
                                </option>
                            </select>
                        </div>

                        <a href="##" class="text-decoration-none text-light m-2">
                            <i class="fa-solid fa-user"></i>
                            User_1
                        </a>
                    </div>
                </div>

                <div class="logo_&&_nav d-flex justify-content-between">
                    <div class="logo_&&_nav_left d-flex w-75">
                        <div class="shoppe_logo">
                            <img src="https://inkythuatso.com/uploads/thumbnails/800/2021/11/logo-shopee-inkythuatso-2-01-24-14-52-10.jpg" />
                        </div>

                        <div class="search_&&_nav d-flex flex-column justify-content-center w-100" style="margin : 0 20px;">
                            <form class="input-group">
                                <input class="input-group w-100" placeholder="Search SomeThing" />
                            </form>

                            <nav class="nav">
                                <a class="nav-item text-decoration-none text-light"> 123 </a>
                                <a class="nav-item text-decoration-none text-light"> 123 </a>
                                <a class="nav-item text-decoration-none text-light"> 123 </a>
                                <a class="nav-item text-decoration-none text-light"> 123 </a>
                            </nav>
                        </div>
                    </div>

                    <div class="shopping_cart d-flex  align-items-center text-white">
                        <a class="text-white" href="##">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
